<!DOCTYPE html>
<html lang="en">
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Purchase Order </title>
</head>
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div id="management">
    <div class="row">
        <!--heading Area-->
        <div class="container-fluid ">
            <div class="row text-center   ">
                <!-- New PR Button-->
                <div class="col">
                    <a class="btn btn-dark" href="/purchaseOrder/add" tabindex="1"><i class="fas fa-cart-plus"
                    ></i>&nbsp;&nbsp;Add New Purchase Order</a>&nbsp;
                </div>
                <!-- List Name-->
                <div class="col">
                    <h2 class="text text-center">
                        <strong>
                            Pending Purchase Order List
                        </strong>
                    </h2>
                </div>
                <!-- Home Button-->
                <div class="col">
                    <!--<a href="/home" id="searchShow" class="btn btn-primary" tabindex="2" >
                      &lt;!&ndash;<i class="fa fa-user " style="font-size: 20px"></i>&nbsp;Add&nbsp;&ndash;&gt;
                      <i class="fas fa-home" style="font-size: 20px" ></i >&nbsp;&nbsp;Home
                      &nbsp;
                    </a >-->
                </div>
            </div>
        </div>
        <div class="container-fluid   text-center">
            <!--Table view-->
            <div class="col">
                <div class="col" id="purchaseRequestListPresent"
                     data-th-if="${not #lists.isEmpty(purchaseOrders)}">
                    <table class="table table-hover table-striped" id="myTable">
                        <thead class="thead-dark">
                        <tr>
                            <th> Index</th>
                            <th> Code</th>
                            <th> Supplier</th>
                            <th> Priority</th>
                            <th> Amount</th>
                            <th> Created Date</th>
                            <th> Modify</th>
                        </tr>
                        </thead>
                        <tbody class="table-primary">
                        <tr data-th-each="purchaseOrder, rowCount : ${purchaseOrders}">
                            <th data-th-text="${rowCount.count}"></th>
                            <th data-th-text="${purchaseOrder.code}"></th>
                            <th data-th-text="${purchaseOrder.supplier.name}"></th>
                            <th data-th-text="${purchaseOrder.purchaseOrderPriority.purchaseOrderPriority}"></th>
                            <th data-th-text="${purchaseOrder.price}"></th>
                            <th data-th-text="${{purchaseOrder.createdAt}}"></th>
                            <th>
                                <a data-th-href="${'/purchaseOrder/' + purchaseOrder.id}"
                                   class="btn btn-light btn-sm"><i
                                        class="fa fa-eye"></i>&nbsp;View/Print</a>
                                <a data-th-if="${grnStatus}" data-th-href="${'/goodReceivedNote/' + purchaseOrder.id}"
                                   class="btn btn-success btn-sm"><i
                                        class="fa fa-edit" style="font-size: 15px"></i>&nbsp;GRN</a>
                                <a data-th-href="${'/purchaseOrder/delete/' + purchaseOrder.id}"
                                   class="btn btn-danger btn-sm"
                                   data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                    <i
                                            class="fa fa-trash"></i> Delete</a>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Error-->
            <div class="row" data-th-if="${ #lists.isEmpty(purchaseOrders)}">
                <div class="col-sm-12">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="text-center text-danger">
                            <strong>There is no purchaseOrder upto now please add purchaseOrder to the system using
                                "New"
                                button.</strong>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}"></div>


<script>
    /*active boostrap alert - start*/
    $(".alert").alert();
    /*active boostrap alert - end*/
</script>
</body>
</html>
