<!DOCTYPE html>
<html lang="en">
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>addCategory</title>
</head>
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<!--Form Content-->
<div class="col-sm-12 flex-column ">
    <div id="add category">
        <form id="form" class="form-horizontal" data-th-action="${addStatus==true?'/category/add':'/category/update'}"
              data-th-object="${category}" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="container-fluid ">
                    <div class="row text-center   ">
                        <!--View list Button-->
                        <div class="col">
                            <a href="/category" class="btn btn-dark">
                                <i class="fa fa-laptop" style="font-size: 20px"></i>&nbsp;&nbsp;View Category
                            </a>
                        </div>
                        <!--Form Name-->
                        <div class="col">
                            <h2 class="text text-center">
                                <strong>
                                    <!--New Category-->
                                    <span  data-th-text="${addStatus==true?'New Category':'Update Category Details'}"></span>
                                </strong>
                            </h2>
                        </div>
                        <!--Home Button-->
                        <div class="col">
                            <!--<a class="btn btn-success" href="/home" >
                              <i class="fa fa-home" style="font-size: 20px" ></i > &nbsp;&nbsp;Home
                            </a >-->
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12 col-sm-12 text-center flex-column ">
                    <!--Id-->
                    <div id="idStatus" data-th-if="${addStatus==false}" class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="id">ID :</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" data-th-field="*{liveDead}" hidden>
                            <input id="id" data-th-field="*{id}" class="form-control" type="text" readonly/>
                        </div>
                    </div>
                    <!--Main Category -->
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="mainCategory">Main Category :</label>
                        </div>
                        <div class="col-md-4">
                            <select id="mainCategory" data-th-field="*{mainCategory}" class="form-control" tabindex="4"
                                    style="font-size: large" required>
                                <option value="">Please select</option>
                                <option data-th-each="mainCategory : ${mainCategories}"
                                        data-th-text="${mainCategory.mainCategory}"
                                        data-th-value="${mainCategory}"
                                        data-th-selected="${mainCategory==category.mainCategory?'selected':'unselected'}"></option>
                            </select>
                        </div>
                    </div>
                    <!--Name-->
                    <div class="form-row text-right">
                        <div class="col-md-4">
                            <label class="control-label" for="name">Name :</label>
                        </div>
                        <div class="col-md-4">
                            <input id="name" data-th-field="*{name}" class="form-control" tabindex="4" type="text"
                                   required/>
                            <span id="nameError" data-th-errors="*{name}"
                                  data-th-if="${#fields.hasErrors('name')}" class="error">Error Name</span>
                        </div>
                    </div>
                </div>
                <!--Button-->
                <div class="form-group col-md-12 col-sm-12 text-center flex-column ">
                    <br>
                    <button class="btn btn-success btn-space" type="submit" tabindex="21">
                        <i class="fa fa-save "></i>&nbsp;&nbsp;
                        <span id="submit" data-th-text="${addStatus==true?'Save': 'Update'}"></span>
                    </button>

                    <button class="btn btn-warning btn-space" type="reset" tabindex="21">
                        <i class="fa fa-redo"></i>&nbsp;&nbsp;Clear
                    </button>

                </div>
                <!--Error-->
                <div class="form-row">
                    <label id="errorLabel" data-th-if="${#fields.hasErrors('*')}"
                           data-th-text="'Errors: '">Errors: </label>
                    <ul>
                        <li id="error" data-th-each="err: ${#fields.errors('*')}" data-th-text="${err}"
                            class="error"></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>

<div data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}"></div>

</body>
</html>
