<!DOCTYPE html>
<html lang="en">
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>category</title>
</head>
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<!--Heading Area-->
<div id="management">
    <div class="row">
        <div class="container-fluid ">
            <div class="row text-center   ">
                <!-- New Category Button-->
                <div class="col">
                    <a class="btn btn-dark" href="/category/add"><i class="fa fa-laptop"></i>&nbsp;&nbsp;Add New
                        Category</a>&nbsp;
                </div>
                <!-- List Name-->
                <div class="col">
                    <h2 class="text text-center">
                        <strong>
                            Category Management
                        </strong>
                    </h2>
                </div>
                <!-- Home Button-->
                <div class="col">
                    <!--<a href="/category/workingPlace" id="searchShow" class="btn btn-primary" >
                      &lt;!&ndash;<i class="fa fa-user " style="font-size: 20px"></i>&ndash;&gt;
                      <i class="fas fa-home" style="font-size: 20px" ></i >&nbsp;&nbsp;Home
                      &nbsp;
                    </a >-->
                </div>
            </div>
        </div>
        <div class="container-fluid   text-center">
            <!--Table view-->
            <div class="col">
                <div class="col" id="categoryListPresent" data-th-if="${not #lists.isEmpty(categorys)}">
                    <table class="table table-hover table-striped" id="myTable">
                        <thead class="thead-dark">
                        <tr>
                            <th> Index</th>
                            <th> Main Category</th>
                            <th> Name</th>
                            <th> Modify</th>
                        </tr>
                        </thead>
                        <tbody class="table-primary">
                        <tr data-th-each="category, rowCount : ${categorys}">
                            <th data-th-text="${rowCount.count}"></th>
                            <th data-th-text="${category.mainCategory.mainCategory}"></th>
                            <th data-th-text="${category.name}"></th>
                            <th>
                                <a id="categoryView" data-th-href="${'/category/' + category.id}"
                                   class="btn btn-light btn-sm"><i
                                        class="fa fa-eye"></i>&nbsp;View</a>
                                <a id="categoryEdit" data-th-href="${'/category/edit/' + category.id}"
                                   class="btn btn-primary btn-sm"><i class="fa fa-edit"></i>&nbsp;Edit</a>
                                <a id="categoryRemove" data-th-href="${'/category/remove/' + category.id}"
                                   class="btn btn-danger btn-sm"
                                   data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                    <i class="fa fa-trash"
                                       +style="font-size: 15px"></i>
                                    Delete</a>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Error-->
            <div class="row" data-th-if="${ #lists.isEmpty(categorys)}">
                <div class="col-sm-12">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="text-center text-danger">
                            <strong>There is no category upto now please add category to the system using "New"
                                button.</strong>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}"></div>


<script>
    /*active boostrap alert - start*/
    $(".alert").alert();
    /*active boostrap alert - end*/
</script>
</body>
</html>
