<!DOCTYPE html>
<html lang="en">
<!--/* Styles, meta data, and title are included */-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div id="details">
    <div class="row">

        <div class="container-fluid ">
            <div class="row text-center   ">
                <!--ViewList Button-->
                <div class="col">
                    <a href="/invoice" class="btn btn-dark" tabindex="1">
                        <i class="fa fa-file-invoice-dollar"></i>&nbsp;&nbsp;View Invoice
                    </a>
                </div>
                <!--Form Name-->
                <div class="col">
                    <h2 class="text-capitalize text-center">
                        <!--<strong>
                                <span id="formHeader"
                                      data-th-text="${invoiceDetail.employee.name}"></span>
                        </strong>-->
                    </h2>
                </div>
                <!--Home Button-->
                <div class="col">
                    <!-- <a class="btn btn-success" href="/home" tabindex="2" >
                       <i class="fa fa-home" style="font-size: 20px" ></i > &nbsp;&nbsp;Home
                     </a >-->
                </div>
            </div>
            <hr>
        </div>
        <div class="container-fluid formBorder text-center">
            <!--selected ledger items-->
            <div class="form-group">
                <div class="form-row">
                    <div class="container">
                        <div class="col">
                            <table class="table table-hover table-striped" id="myTable">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Index</th>
                                    <th>Item Name</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Line Total</th>
                                </tr>
                                </thead>
                                <tbody class="table-primary">
                                <tr data-th-each="invoiceLedger, index : ${invoiceDetail.invoiceLedgers}">
                                    <td data-th-text="${index.count}"></td>
                                    <td data-th-text="${invoiceLedger.ledger.item.name}"></td>
                                    <td data-th-text="${invoiceLedger.quantity}"></td>
                                    <td data-th-text="${invoiceLedger.sellPrice}"></td>
                                    <td class="lineTotal" data-th-text="${invoiceLedger.lineTotal}"></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th colspan="4" class="text-right"><label for="total">Total</label></th>
                                    <th><p id="total"></p>
                                    </th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="col-sm-12 flex-column ">
                <div class="row">
                    <!--Payment Section-->
                    <!--Left Side-->
                    <div class="form-group col-md-6 col-sm-6 text-left flex-column ">
                        <!--payment method-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" data-th-for="${paymentMethod}">Payment Method:</label>
                            </div>
                            <div class="col-md-8">
                                <p class="display_detail"
                                   data-th-text="${invoiceDetail.paymentMethod.paymentMethod}"></p>
                            </div>
                        </div>
                        <!--Discount-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="discountRatio">Discount Ratio :</label>
                            </div>
                            <div class="col-md-8">
                                <p class="display_detail" id="discountRatio"
                                   data-th-text="${invoiceDetail.discountRatio.name}+${' '}+${invoiceDetail.discountRatio.amount}"></p>
                            </div>
                        </div>
                        <!--Total Amount-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="totalAmount">Total Amount :</label>
                            </div>
                            <div class="col-md-8">
                                <p class="display_detail" id="totalAmount"
                                   data-th-text="${invoiceDetail.totalAmount}"></p>
                            </div>
                        </div>
                        <!--Discount Amount-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="discountAmount">Discount Amount :</label>
                            </div>
                            <div class="col-md-8">
                                <p class="display_detail" id="discountAmount"
                                   data-th-text="${invoiceDetail.discountAmount}"></p>
                            </div>
                        </div>
                    </div>

                    <!--Right Side-->
                    <div class="form-group col-md-6 col-sm-6 text-right flex-column ">
                        <!--Amount Tendered-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="amountTendered">Amount Tendered :</label>
                            </div>
                            <div class="col-md-8">
                                <p class="display_detail" id="amountTendered"
                                   data-th-text="${invoiceDetail.amountTendered}"></p>
                            </div>
                        </div>
                        <!--Balance-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="balance">Balance :</label>
                            </div>
                            <div class="col-md-8">
                                <p class="display_detail" id="balance" data-th-text="${invoiceDetail.balance}"></p>
                            </div>
                        </div>
                        <!--Bank -->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="bankName">Bank Name Tendered :</label>
                            </div>
                            <div class="col-md-8">
                                <p class="display_detail" id="bankName" data-th-text="${invoiceDetail.bankName}"></p>
                            </div>
                        </div>
                        <!--card number-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="cardNumber">Card Number :</label>
                            </div>
                            <div class="col-md-8">
                                <p class="display_detail" id="cardNumber"
                                   data-th-text="${invoiceDetail.cardNumber}"></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <hr>
            <!--customer -->
            <div class="form-group">
                <!--Customers-->
                <div data-th-replace="~{customer/customer-detail :: customerDetailsFragment}"></div>
            </div>
            <hr>
            <!--remarks and invoice print or not-->
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <!--invoice print or not-->
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" data-th-for="${invoicePrintOrNot}">Invoice Print or
                                    Not:</label>
                            </div>
                            <div class="col-md-8 text-left">
                                <p class="display_detail"
                                   data-th-text="${invoiceDetail.invoicePrintOrNot.invoicePrintOrNot}"></p>
                            </div>
                        </div>
                    </div>
                    <!--Remarks-->
                    <div class="col-md-5">
                        <div class="form-row text-right">
                            <div class="col-md-4">
                                <label class="control-label" for="remarks">Remarks :</label></div>
                            <div class="col-md-8">
                                <p id="remarks" class="form-control" data-th-utext="${invoiceDetail.remarks}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!--button-->
            <div class="form-group">
                <!--Button-->
                <div class="form-group col-md-12 col-sm-12 text-center flex-column ">
                    <!--Back Button-->
                    <a class="btn btn-outline-danger" href="/invoice" tabindex="14">
                        <i class="fas fa-arrow-circle-left" style="font-size: 20px"></i>&nbsp;&nbsp;Back
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/* footer is */-->
<div data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--/* script is included */-->
<div data-th-replace="~{fragments/script :: scriptFragment}"></div>
<script>
    $(document).ready(function () {
        let total = 0;
        $(".lineTotal").html().forEach(
            x => {
                total += parseFloat(x);
            }
        )
        $("#total").val(total);
    });
</script>
</body>
</html>
