<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>

<body>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>

            </div>
            <div class="card-body">
                <form data-th-action="${'/login'}" method="post">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" id="username" data-th-name="${'username'}" class="form-control" placeholder="Username" required>

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" id="inputPassword" data-th-name="${'password'}" class="form-control" placeholder="Password" required>
                    </div>
                    </br>
                    <div class="form-group">
                        <input type="submit" id="btnLogin" value="Login" class="btn float-right login_btn">
                    </div>
                    </br>
                    </br>
                    <div class="container-fluid "  data-th-if="${param.error}"> <p class="bg-white text-capitalize text-danger text-lg-center">Invalid username or password. </p> </div>
                    <div class="container-fluid "><p id="errorMessage"  data-th-text="${err}" class="bg-white text-capitalize text-danger text-lg-center"></p></div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Forgot your password?
                </div>
                <div class="d-flex justify-content-center">
                    <a href="/passwordChange">Reset password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>